// font-face
@font-face {
	font-family: 'Oswald-Bold';
	src: url('../fonts/Oswald-Bold.ttf');
}
@font-face {
	font-family: 'Oswald-Medium';
	src: url('../fonts/Oswald-Regular.ttf');
}
// Color
:root {
	--font-family: 'Oswald-Medium';
	--font-family-bold: 'Oswald-Bold';
	--color__bg : #ffffff;
	--color__sidebarLeft: #ffcd3c;
	--xs : 480px;
	--sm : 768px;
	--md : 1024px;
	--xl : 1170px;
}

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
   @media only screen and (max-width: --xs) { @content; }
  }
  @else if $canvas == SM {
   @media only screen and (max-width: --sm) { @content; }
  }
  @else if $canvas == MD {
   @media only screen and (max-width: --md) { @content; }
  }
  @else if $canvas == XL {
   @media only screen and (max-width: --xl) { @content; }
  }
}
