aside {
	min-height: 239px;
	border: 10px solid #458285;
	margin: 5px;
	position: relative;
	overflow: hidden;
	z-index: 2;
    .title {
        font-weight: bold;
        background-color: rgba(255, 255, 255, .4);
		width: 100%;
		height: 32px;
		overflow: auto;
		position: absolute;
		top: -32px;
		left: 0;
		z-index: 1;
    }
	.description {
        font-weight: bold;
		background-color: rgba(255, 255, 255, .4);
		width: 100%;
		height: 60px;
		overflow: auto;
		position: absolute;
		bottom: -60px;
		left: 0;
		z-index: 1;
	}
	.description::-webkit-scrollbar, .title::-webkit-scrollbar {
		display: none;
	}
}

aside:hover {
	.title {
		top: 0;
		animation-duration: 1s;
        animation-name: fadeInDown;
	}
    .description {
		bottom: 0;
		animation-duration: 1s;
        animation-name: fadeInUp;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}