@font-face {
  font-family: 'Oswald-Bold';
  src: url("../fonts/Oswald-Bold.ttf"); }
@font-face {
  font-family: 'Oswald-Medium';
  src: url("../fonts/Oswald-Regular.ttf"); }
:root {
  --font-family: 'Oswald-Medium';
  --font-family-bold: 'Oswald-Bold';
  --color__bg: #ffffff;
  --color__sidebarLeft: #ffcd3c;
  --xs: 480px;
  --sm: 768px;
  --md: 1024px;
  --xl: 1170px; }

body {
  font-family: var(--font-family);
  background-color: var(--color__bg);
  width: 100%;
  height: 100vh;
  display: flex; }

main {
  width: calc(100% - 10px);
  margin: 0 5px; }

main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000; }

main::-webkit-scrollbar {
  width: 12px;
  background-color: #000; }

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

ol, ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.leftMenu {
  background-color: var(--color__sidebarLeft);
  width: 400px;
  border-radius: 0 40px 40px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .leftMenu .logo {
    font-family: var(--font-family-bold);
    width: 100%;
    height: 97px;
    padding-top: 29px;
    position: relative; }
    .leftMenu .logo a {
      color: #172975;
      text-decoration: none; }
    .leftMenu .logo img {
      width: 42px; }
    .leftMenu .logo::after {
      content: '';
      background-color: #ffaa18;
      width: 50%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 25%; }
  .leftMenu .main-menu li {
    width: 50%;
    height: 36px;
    border: 1px solid #505268;
    border-radius: 18px;
    margin: 15px 0 15px 25%;
    line-height: 36px;
    vertical-align: middle; }
    .leftMenu .main-menu li a {
      color: #172975;
      text-decoration: none; }
    .leftMenu .main-menu li:hover {
      background-color: #ffffff;
      border: 1px solid white; }
  .leftMenu .social__main {
    width: 50%;
    height: 137px;
    margin-left: 25%; }
    .leftMenu .social__main li {
      margin-bottom: 15px; }
      .leftMenu .social__main li a {
        color: #172975;
        text-decoration: none; }
    .leftMenu .social__main .social__list {
      padding-bottom: 15px;
      position: relative; }
      .leftMenu .social__main .social__list a {
        margin: 0 2px; }
        .leftMenu .social__main .social__list a img {
          width: 25px;
          height: 25px; }
      .leftMenu .social__main .social__list::after {
        content: '';
        background-color: #ffaa18;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0; }
    .leftMenu .social__main .version p {
      font-family: var(--font-family);
      color: #172975; }

.action {
  margin-top: 29px;
  display: flex; }
  .action .search-form {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease; }
    .action .search-form.focus {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15); }
  .action .search {
    width: 76%;
    margin-right: 15px; }
    .action .search .search-input {
      position: absolute;
      top: 0;
      left: 38px;
      font-size: 14px;
      background: none;
      color: #5a6674;
      width: 90%;
      height: 40px;
      border: none;
      appearance: none;
      outline: none; }
      .action .search .search-input::-webkit-search-cancel-button {
        appearance: none; }
    .action .search .search-button {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 20px;
      width: 20px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      outline: none !important;
      cursor: pointer; }
      .action .search .search-button svg {
        width: 20px;
        height: 20px;
        fill: #5a6674; }
    .action .search .search-option {
      position: absolute;
      text-align: right;
      top: 0px;
      right: 0px; }
      .action .search .search-option div {
        position: relative;
        display: inline-block;
        margin: 0 1px;
        cursor: pointer; }
        .action .search .search-option div input {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.01;
          cursor: pointer; }
        .action .search .search-option div span {
          position: absolute;
          display: block;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          background: #929AA3;
          color: #fff;
          font-size: 9px;
          letter-spacing: 1px;
          line-height: 1;
          text-transform: uppercase;
          padding: 4px 7px;
          border-radius: 12px;
          top: -18px;
          transition: all .2s ease-in-out; }
          .action .search .search-option div span::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            border-top: 4px solid #929AA3;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            transition: all .2s ease-in-out; }
        .action .search .search-option div:hover span {
          opacity: 1;
          top: -21px; }
        .action .search .search-option div label {
          display: block;
          cursor: pointer; }
        .action .search .search-option div svg {
          height: 20px;
          width: 20px;
          fill: #5a6674;
          opacity: 0.6;
          transition: all .2s ease-in-out;
          pointer-events: none; }
        .action .search .search-option div:hover svg {
          opacity: 1; }
        .action .search .search-option div input:checked + label svg {
          fill: #e24040;
          opacity: .9; }
        .action .search .search-option div input:checked + label span {
          background: #e24040; }
          .action .search .search-option div input:checked + label span::after {
            border-top-color: #e24040; }
  .action .sort {
    width: 12%;
    margin-right: 15px; }
  .action .grid {
    width: 12%; }
  .action .sort,
  .action .grid {
    position: relative; }
    .action .sort .search-form,
    .action .grid .search-form {
      padding: 0 0 0 12px; }
    .action .sort:before,
    .action .grid:before {
      content: "\25be";
      float: right;
      color: black;
      position: absolute;
      right: 13px;
      top: 7px;
      z-index: 99; }
    .action .sort:after,
    .action .grid:after {
      content: ' ';
      width: 10px;
      height: 10px;
      position: absolute;
      background: #fff;
      right: 5px;
      top: 14px; }

/*# sourceMappingURL=main.css.map */
